.CoinListItem {
  height: 100px;
  display: flex;

  text-decoration: none;
  text-align: left;

  color: #FCFCFC;
  border-bottom: solid 1px #353649;
}

.CoinListItem--image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
}

.CoinListItem--image img {
  width: 50px;
}

.CoinListItem--coin {
  text-align: left;
  width: 140px;
}

.CoinListItem--holdings {
  text-align: right;
}

.CoinListItem--image,
.CoinListItem--coin,
.CoinListItem--holdings,
.CoinListItem--change {
  margin-right: 8px;
}

.CoinListItem--holdings {
  flex-grow: 2;
}

.CoinListItem--title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 24px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CoinListItem--value {
  font-size: 14px;
  margin-top: 12px;
  color: #A2A2A2;
}

.CoinListItem--change {
  flex-grow: 2;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin-left: 16px;
  text-align: right;
  width: 64px;
}

.CoinListItem--percent-up {
  color: #58BB75;
  width: 100%;
}

.CoinListItem--percent-down {
  color: #C43432;
  width: 100%;
}
