.CoinListItem {
  height: 100px;
  display: flex;

  text-decoration: none;
  text-align: left;

  color: #FCFCFC;
  border-bottom: solid 1px #353649;
}


.CoinListItem--image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CoinListItem--image img {
  width: 40px;
}

.CoinListItem--coin {
  flex-grow: 2;
  text-align: left;
  min-width: 80px;
}

.CoinListItem--holdings {
  text-align: right;
  max-width: 80px;
}

.CoinListItem--image,
.CoinListItem--coin,
.CoinListItem--holdings {
  margin-right: 8px;
}

.CoinListItem--holdings {
  flex-grow: 2;
}

.CoinListItem--title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 24px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CoinListItem--value {
  font-size: 14px;
  margin-top: 12px;
  color: #A2A2A2;
  overflow: hidden;
  white-space: nowrap;
}

.CoinListItem--change {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  width: 130px;
}

.CoinListItem--change .SummaryChange--percent-up,
.CoinListItem--change .SummaryChange--percent-down {
  font-size: 14px;
  width: 55px;
}

.CoinListItem--percent-down,
.CoinListItem--percent-up {
  margin-left: 4px;
  margin-right: 4px;
  min-width: 40px;
}

.CoinListItem--percent-label {
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900;
  color: #A2A2A2;
  display: none;
  margin-bottom: 8px;
  margin-top: -8px;
}

.CoinListItem:first-child .CoinListItem--percent-label {
  display: block;
}

.CoinListItem--percent-up {
  color: #58BB75;
}

.CoinListItem--percent-down {
  color: #C43432;
}
