body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  background: #242538;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  width: 100%;
  max-width: 600px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #f2f2f2;
}

.container {
  margin-left: 16px;
  margin-right: 16px;
}

.input {
  border: none;
  border-bottom: solid 1px black;
  width: 100%;
  height: 40px;
}

.button {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  border: none;
}

.button--success {
  background-color: #58BB75;
}

.button--cancel {
  background-color: #C43432;
}

.circle-button {
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  font-weight: bold;

  border-radius: 90px;
  width: 64px;
  height: 64px;

  position: fixed;
  bottom: 16px;
  right: 16px;
  box-shadow: 1px 1px 4px #3E3F56;

  background-color: #6EC47F;
  color: #383849;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  background-image: url(/addicon.png);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;

}

.cancel {
  background-color: #C43432;
}
