.Summary {
}

.Summary--Total {
  background-color: #2A2B3E;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Summary--Total-amount {
  font-size: 48px;
  font-weight: bold;
  color: #FCFCFC;
  margin-bottom: 8px;

  display: flex;
}

.Summary--currency {
  margin-left: 8px;
  font-size: 18px;

  background: none;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: #F2F2F2;
}

.Summary--currency:active {
  background-color: #F2F2F2;
  color: #2A2B3E;
}

.SummaryChange {
  display: flex;
}

:focus {
  outline: 0;
}
